@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

/* Global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    height: 100vh;
    background-color: #363636;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

/* HEADER */

.header {
    position: relative;
    width: 100%;
    height: 470px;
}

.header .news {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.header .news-active {
    display: block;
}

.header .news-img {
    width: 100%;
    height: 100%;
}

/* Logo */

.header .header-logo {
    position: absolute;
    top: 0;
    left: 140px;
    z-index: 2;
}

.header .header-logo-background {
    background-color: rgba(255, 255, 255, .35);
    border-radius: 0 0 25px 25px;
    padding: 20px;
}

.header .header-logo h1 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
}

.header .header-logo h2 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}

/* Menu */

.header .main-menu ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 35px;
    width: fit-content;
    background-color: #433C78;
    position: absolute;
    top: 0;
    right: 140px;
    z-index: 2;
}

.header .main-menu ul li {
    color: #ffffff;
    width: 140px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(255, 255, 255, .75);
    font-weight: 500;
}

.header .main-menu ul li:first-child {
    border-left: none;
}

/* Buttons */

.header .buttons {
    position: absolute;
    bottom: 100px;
    left: 140px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.header .buttons button {
    width: 10px;
    height: 50px;
    background-color: #ffffff;
    opacity: .5;
}

.header .buttons .button-active {
    opacity: 1;
}

/* Title section */

.header .title-section {
    width: 550px;
    position: absolute;
    bottom: 100px;
    right: 140px;
    z-index: 2;
}

.header .title-section .title, .header .title-section .read-more {
    color: #ffffff;
    text-transform: uppercase;
    text-align: right;
}

.header .title-section .title {
    font-size: 54px;
    text-shadow: 0 10px 6px #00000040;
}

.header .title-section .read-more {
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
}

.header .title-section .read-more img {
    margin-left: 15px;
}

/* MAIN SECTION */

.main-section {
    height: 800px;
    background: url("./img/boisko.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Previous news */

.main-section .previous-news {
    display: flex;
    justify-self: center;
}

.main-section .news-section h2 {
    padding: 20px 0;
}

.main-section .news-section .news-container, .main-section .news-section .news-container .news-item {
    display: flex;
}

.main-section .news-section .news-container .news-item {
    width: 400px;
    height: 180px;
    margin-right: 50px;
}
.main-section .news-section .news-container .news-item .news-img {
    height: 100%;
    width: 200px;
    position: relative;
}

.main-section .news-section .news-container .news-item .news-img img {
    height: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main-section .news-section .news-container .news-item .news-content {
    background-color: #ffffff;
    width: 330px;
    padding: 5% 20px 5% 100px;
    box-shadow: 0 3px 6px #00000029;
    height: 100%;
}

.main-section .news-section .news-container .news-item .news-content .news-title {
    color: #433C78;
    font-size: 20px;
}

.main-section .news-section .news-container .news-item .news-content .news-excerpt {
    font-size: 14px;
    padding-top: 10px;
}

/* Table */

.main-section .previous-news .table {
    margin: 20px 0 0 40px;
}

.main-section .previous-news .table table {
    display: block;
    border-left: 5px solid #433C78;
    margin-top: 20px;
    padding-left: 20px;
    height: 180px;
    overflow-y: scroll;
}

.main-section table thead {
    font-size: 12px;
}

.main-section table tbody tr {
    height: 55px;
    position: relative;
    margin-left: 20px;
}

.main-section table tbody td {
    width: 25px;
}

.main-section table tbody .club-name {
    width: 130px;
    font-size: 20px;
    font-weight: 500;
}

.main-section table tbody .club-img {
    width: 50px;
}

.main-section table tbody td img {
    width: 35px;
    height: 35px;
}

/* Scrollbar */

.main-section table::-webkit-scrollbar {
    width: 15px;
}

.main-section table::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.main-section table::-webkit-scrollbar-thumb {
    background-color: #433C78;
}

/* Matches */

.matches {
    margin-top: 50px;
    width: 86%;
    display: flex;
    justify-self: center;
    border-top: 5px solid #433C78;
    padding: 30px 0;
    color: #fff;
}

.matches .last-match {
    background: rgba(0, 0, 0, .4);
}

.matches .last-match, .matches .upcoming-match {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.matches h2 {
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
}

.matches .score {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.matches .score .team {
    width: 100px;
    height: 100px;
}

.matches .score .team img {
    width: 100%;
    height: 100%;
}

.matches .score .result {
    font-size: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.matches h3 {
    font-size: 14px;
    font-weight: 700;
    margin: 20px 0;
    text-align: center;
}

.matches .more-btn {
    background: #433C78;
    color: #fff;
    height: 30px;
    width: 120px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
}

.matches .upcoming-matches {
    display: flex;
    margin-left: 40px;
    background: rgba(0, 0, 0, .4);
    flex-wrap: wrap;
    position: relative;
}

.matches .upcoming-matches .upcoming-matches-container {
    display: flex;
}

.matches .upcoming-matches h2 {
    width: 100%;
    text-align: left;
    padding-left: 30px;
}

.matches .upcoming-match {
    position: relative;
}

.matches .upcoming-matches .upcoming-match::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 80%;
    width: 1px;
    background: #fff;
    transform: translateY(-20%);
}

.matches .upcoming-matches .next {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
}

